<!DOCTYPE html>
<html>
<head>
	<title>Doctor</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  
</head>
<body >
	<div  class="header" style="color: white"><h1><a href="../Home_Page/index.html">Hi User</a></h1></div>
	<div id="blackline"></div>
				<div id="menu_bar">
			<div class="elements"   style="background-color: white"><a href="{{url_for('doctor_addPatient')}}">New Patient</a></div>
			<div class="elements"><a href="{{url_for('doctor_patList')}}">Patient list</div>
			<div class="elements"><a href="{{url_for('doctor_apts')}}">Appointments</a></div>
			<div class="elements"><a href="{{url_for('doctor_session')}}">Sessions</a></div>
			<div class="elements" style="background-color: white"><a href="{{url_for('doctor_profile')}}">Profile</a></div>
		</div>
		<div id="pat_add">
      <form id="profile" action="#" method="POST">
        <table align="center" cellpadding="8px" cellspacing="15px">
          <tr>
            <td class="D_name" id="P_name">Patient Name</td>
            <td><input type="text" name="pid"  placeholder="Username or ID" /></td>
          </tr>
          <tr>
            <td id="problem">Problem/Issue</td>
            <td><input type="text" name="prob" placeholder="short text" /></td>
          </tr>
          <tr><td colspan="2" align="center"><button type="submit" style="height: 40px; background-color: lightblue ">Add Patient</button></td></tr>
        </table>
      </form>
    </div>

</body>
</html>