<!DOCTYPE html>
<html>
<head>
	<title>Doctor</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style>
        div > label {
          font-size: 1.5em;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-weight: bold;
        }
        span {
          color: black;
          font-size: 1.2em;
        }
      </style>
</head>
<body >
	<div  class="header" style="color: white"><h1><a href="../Home_Page/index.html">Hi User</a></h1></div>
	<div id="blackline"></div>
				<div id="menu_bar">
					<div class="elements"   ><a href="{{url_for('doctor_addPatient')}}">New Patient</a></div>
					<div class="elements" ><a href="{{url_for('doctor_patList')}}">Patient list</div>
					<div class="elements"><a href="{{url_for('doctor_apts')}}">Appointments</a></div>
					<div class="elements"><a href="{{url_for('doctor_session')}}">Sessions</a></div>
					<div class="elements"><a href="{{url_for('doctor_profile')}}">Profile</a></div>
		</div>
		<div>
      <h2>welcome doc {{userinfo[0][1]}}</h2>
      <div><label>user id :</label><span>{{userinfo[0][1]}}</span></div>
      <div>
        <label>Name :</label><span>{{userinfo[0][1]}} {{userinfo[0][2]}}</span>
      </div>
      <div><label>Email :</label><span>{{userinfo[0][3]}}</span></div>
      <div><label>Address :</label><span>{{userinfo[0][4]}}</span></div>
      <div><label>city :</label><span>{{userinfo[0][5]}}</span></div>
      <div>
        <label>state,country :</label
        ><span>{{userinfo[0][6]}},{{userinfo[0][7]}}</span>
      </div>
      <div><label>contact :</label><span>{{userinfo[0][8]}}</span></div>
      <div><label>Gender</label><span>{{userinfo[0][9]}}</span></div>
      <div><label>Date of Birth</label><span>{{userinfo[0][10]}}</span></div>
      <div><label>Degree</label><span>{{userinfo[0][11]}}</span></div>
      <div><label>Specialization</label><span>{{userinfo[0][12]}}</span></div>  
      <div><label>Visiting</label><span>{{userinfo[0][13]}}</span></div>     
      <div>
        <input type="button" value="logout" />
      </div>
      </div>
   
</body>
</html>